# ACM Python Hobby - Introduction to Python 001

## Jupyter Notebook

The Jupyter Notebook is an open source web application that you can use to create and share documents that contain live code, equations, visualizations, and text.

## Part 1 - Python Operators 

- Arithmetic: `+` `-` `*` `/` `%` `**` `//`
- Conditional: `==` `>` `<` `!=` `<=` `>=`
- Logical: `and` `or` `not`

This tutorial covers the following topics:

- Python Arithmetic Operators
- Solving multi-step math problems using variables
- Taking simple input
- Evaluating conditions using Python
- Combining conditions with logical operators

### Python Arithmetic Operators

![](https://github.com/acmhitk/ACM-Python-Hobby-Class-2022/blob/main/assets/operators.png?raw=true)

In [1]:
# Addition

2 + 5 + 8 + 1000 + 200

1215

In [2]:
# Subtraction

5 - 8 - 7

-10

In [3]:
# Multiplication

5 * 8

40

In [4]:
# Division (Please note: It performs float division)

1871 / 78

23.987179487179485

In [5]:
# Modulus - Returns the remainder

18 % 5

3

In [6]:
# Exponentiation

456 ** 456

3075871973802350122919772248486810453179882160061821378289466776658172317672698487579442469933152629766136423664245917259419103575968021888464541910796204383226791656378897055931168352559989435064585092293407089214792554892348840661429095905338070152326011251467896223008406422231207058844638419852610520628737186931434650773818539031181156578438078750050841787076204425803840951225637528623310286038386973455753908978877598542066376484065770489233740135205819512135091362102709355017899099432525753918081634325868448872689557443291437393241005058756685470354465922000288623367633026018971106832090191894178474800993921784022758665971949900165418092243094650288059416656148104436264537433344869835339521464108708465678845132027928400422737873563364973093125530472006948162902457640768740466182602428506153916927749487461840892352981296397508689052680004032270809872233823977879502295876063986004794369624190823191207494537902871526299752350004255190289786483430677256797243806410827410790893469450810184874334616630671899180803497908474400440365427363616862415161115493664955486110650283608244077355790040100591180407542116469464503987798572837426109262466148517559232300346029905673587076983060993219549101817856

In [7]:
# Division (Please note: It performs floor division)

18 // 5

3

As you might expect, operators like `/` and `*` take precedence over other operators like `+` and `-` as per mathematical conventions. You can use parentheses, i.e. `(` and `)`, to specify the order in which operations are performed.

In [8]:
((8 + 5) * (1 - 5)) / (4 ** 3)

-0.8125

In [9]:
8 + 5 * 1 - 5 / 4 ** 3

12.921875

### Solving multi-step math problems using variables

> A shopkeeper sells a box of chocolate for Rs.580 and makes a 15% profit. If it sells 480 such boxes, how much total profit does it make?

We can list out the information provided and gradually convert the word problem into a mathematical expression that can be evaluated using Python. 

*Cost of 1 box of chocolate (Rs)* = 580

*Profit margin* = 15% = .15

*Profit per box ($)* = profit margin * cost of 1 box = .15 * 580

*No. of box* = 480

*Total profit* = no. of bags * profit per bag = 480 * (.15 * 580)

In [10]:
480 * (.15 * 580)

41760.0

**Introducing Variables**

![](https://github.com/acmhitk/ACM-Python-Hobby-Class-2022/blob/main/assets/variables.png?raw=true)

In real life, we use names to refer to the people and things around us. 
Think about your life without a name. It would not be pleasant as there would be series of **Him, me, I, you......**

Variables in computer programs have the same roles: they are names we give to things, so we do not have to re-describe them every time we use them. And the fun thing is we can call them anything we want! In fact, computer programs can be quite fun to read because of all these names. So let’s try some variables

In [11]:
cost_of_a_box = 580

# costOfABox

profit_margin = .15

number_of_box = 480

profit_per_bag = cost_of_a_box * profit_margin

total_profit = number_of_box * profit_per_bag

In [12]:
total_profit

41760.0

In [13]:
print("The shopkeeper makes a total profit of Rs.", total_profit)

The shopkeeper makes a total profit of Rs. 41760.0

**Rules for Python variables:**

- A variable name must start with a **letter** or the **underscore** character
- A variable name **cannot start with a number**
- A variable name can only contain **alpha-numeric characters and underscores** (A-z, 0-9, and _ )
- Variable names are **case-sensitive** (age, Age and AGE are three different variables)

Read more about the conventions here: https://www.python.org/dev/peps/pep-0008/

In [14]:
total = 45
TOTAL

NameError: ignored

### Taking simple input

Now, consider, you want to calculate the profit for a different set of user given values. How will you do that?

In [15]:
my_first_input = input("Enter a value: ")

Enter a value: 5

In [17]:
my_first_input

'5'

In [18]:
my_second_input = input("Enter another value: ")

Enter another value: 8

In [19]:
my_second_input

'8'

In [20]:
my_first_input + my_second_input

'58'

😖 What happened??!!

Python consideres the input values as string type. But to perform artihmatic operations you need them to be integer type. Lets see how to do that

In [21]:
my_first_input = int(input("Enter a value: "))

# int("1000")

Enter a value: 1000

In [22]:
my_second_input = int(input("Enter another value: "))

Enter another value: 5

In [23]:
my_first_input + my_second_input

1005

Now, lets convert our math problem to make it accept user input

In [24]:
cost_of_a_box = float(input())

500.8

In [25]:
profit_margin = float(input())

5.6

In [26]:
number_of_box = int(input())

100

In [27]:
# Perform the required calculations
profit_per_bag = cost_of_a_box * profit_margin
total_profit = number_of_box * profit_per_bag

# Display the result
print("The shopkeeper makes a total profit of Rs.", total_profit)

The shopkeeper makes a total profit of Rs. 280448.0

### Evaluating conditions using Python

Apart from arithmetic operations, Python also provides several operations for comparing numbers & variables.

| Operator    | Description                                                     |
|-------------|-----------------------------------------------------------------|
| `==`        | Check if operands are equal                                     |
| `!=`        | Check if operands are not equal                                 |
| `>`         | Check if left operand is greater than right operand             |
| `<`         | Check if left operand is less than right operand                |
| `>=`        | Check if left operand is greater than or equal to right operand |
| `<=`        | Check if left operand is less than or equal to right operand    |

The result of a comparison operation is either `True` or `False` (note the uppercase `T` and `F`). These are special keywords in Python. Let's try out some experiments with comparison operators.

In [28]:
my_favorite_number = 5

my_least_favorite_number = 3

a_neutral_number = 6

In [29]:
# Equality check
my_favorite_number == 5

True

In [30]:
# Equality check
my_favorite_number == a_neutral_number

False

In [31]:
# Not equal check
a_neutral_number != 3

True

In [32]:
# Less than or equal check
3 + 10 <= 13

True

In [33]:
# Less than
3 + 10 < 13

False

In [34]:
# Assign cost of chocolates
cost_of_chocolate = 500

# Store the result in a boolean variable
is_chocolate_expensive = cost_of_chocolate >= 450

# Display result
print("Is the chocolate expensive?: ", is_chocolate_expensive)

Is the chocolate expensive?:  True

## Combining conditions with logical operators

The logical operators `and`, `or` and `not` operate upon conditions and `True` & `False` values (also known as *booleans*). `and` and `or` operate on two conditions, whereas `not` operates on a single condition.

The `and` operator returns `True` when both the conditions evaluate to `True`. Otherwise, it returns `False`.

| `a`     | `b`    | `a and b` |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `False`   |
|  `False`| `True` | `False`   |
|  `False`| `False`| `False`   |

In [35]:
my_favorite_number

5

In [36]:
my_favorite_number > 0 and my_favorite_number <= 3

False

In [37]:
my_favorite_number > 0 and my_favorite_number >= 3

True

In [38]:
False and True

False

The `or` operator returns `True` if at least one of the conditions evaluates to `True`. It returns `False` only if both conditions are `False`.

| `a`     | `b`    | `a or b`  |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `True`    |
|  `False`| `True` | `True`    |
|  `False`| `False`| `False`   |

In [39]:
a_neutral_number

6

In [40]:
a_neutral_number == 3 or my_favorite_number < 0

False

In [41]:
True or False

True

In [42]:
False or False

False

In [43]:
# Combined

(2 > 3 and 4 <= 5) or not (my_favorite_number < 0 and True)
# False or not(False)
# False or True

True

## Part 2 - Variables and Data Types in Python

This tutorial covers the following topics:

- Storing information using variables
- Primitive data types in Python: Integer, Float, Boolean, None and String
- Built-in data structures in Python: List, Tuple and Dictionary
- Methods and operators supported by built-in data types

Lets assign my favourite color to a variable

In [44]:
my_favorite_color = "blue"

You can check the type of the variables using the **type** keyword

In [45]:
type(my_favorite_color)

str

**Assigning to multiple variables simultaneously**

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [46]:
animal_1, animal_2 = "Dog", "Cat"

In [47]:
animal_1

'Dog'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [48]:
animal_1 = animal_3 = "Dog"

In [49]:
animal_3

'Dog'

### Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function as said previously.

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

<img src="https://github.com/acmhitk/ACM-Python-Hobby-Class-2022/blob/main/assets/data_type.png?raw=true" width="800"/>

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

#### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [50]:
number_1 = 85
number_2 = 58

In [51]:
-number_1**number_2

-8059306850307519511922216673631716148483975480133718775447964899424212505130160622002222226001322269439697265625

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

#### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [52]:
pi = 3.141592653589793238

In [53]:
100 / pi

31.830988618379067

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [54]:
one_hundredth = 1e-2

In [55]:
one_hundredth

0.01

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [56]:
type(10/2)

float

In [57]:
type(10//2)

int

#### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.
Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [58]:
1 < 2

True

**Important**

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [59]:
bool(1.5)

True

In [60]:
some_number = 0.0
bool(some_number)

False

In [61]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

#### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [62]:
nothing = None
type(nothing)

NoneType

#### String - Basics

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [63]:
text = "Have a nice day!"

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [64]:
another_text = "He said, \"Have a nice day!\"."

In [65]:
another_text

'He said, "Have a nice day!".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [66]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  dsadsadas

The other says, 
"I'm a big metal fan." hfjkdsfhjksdfhkj
"""

# fsdfdsfsdsdgsd
# fdfsdf

In [67]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"  dsadsadas

The other says,
"I'm a big metal fan." hfjkdsfhjksdfhkj

You can check the length of a string using the `len` function.

In [68]:
len(a_music_pun)

167

A string can be converted into a list of characters using `list` function.

In [69]:
text_1 = "I love chocolates"

In [70]:
mylist = list(text_1.split())

In [71]:
mylist

['I', 'love', 'chocolates']

Find out on your own, what will happen if you do not use the split()

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [72]:
today = "Saturday"

# S a t u r d a y
# 0 1 2 3 4 5 6 7

In [73]:
today[0]

'S'

In [74]:
today[7]

'y'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [75]:
today[5:8]

'day'

You can also check whether a string contains a some text using the `in` operator.

In [76]:
'day' in today

True

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

You can also create custom functions to pre-process strings.

Think of a usecase where you might need to pre-process text

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [77]:
# Print the string in upper case
"saturday".upper()

'SATURDAY'

In [78]:
"monday".capitalize() # changes first character to uppercase

'Monday'

More such functions will be added in the Advanced Version of the Notebook

#### List - Basics

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [79]:
fruits = ['apple', 'banana', 'cherry']

Let's try creating a list containing values of different data types, including another list.

Heterogeneous List

In [80]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [81]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [82]:
len(a_list)

6

In [83]:
len(a_list[4])

3

Remember the fruits list

In [84]:
fruits

['apple', 'banana', 'cherry']

In [85]:
# Reverse the list
# [ <first element to include> : <first element to exclude> : <step> ]
fruits[::-1]

['cherry', 'banana', 'apple']

In [86]:
"apple"[::-1]

'elppa'

Amazing right? Just one line!!

In [87]:
# Python supports negative index

fruits[-1]
# 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry' 
#    0        1         2       
#   -3       -2        -1         0        1        2

'cherry'

#### Tuple - Basics

Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.

To create a Tuple, enclose a sequence of values within round brackets `(` and `)`, separated by commas.

**Note: The key difference between the tuples and lists is that while the tuples are immutable objects the lists are mutable. This means that tuples cannot be changed while the lists can be modified**

In [89]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [90]:
mytuple[0] = 'mango'

TypeError: ignored

#### Dictionaries - Basics

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered (python 3.7 and above), changeable and do not allow duplicates.

In [104]:
!python --version

Python 3.7.13

In [105]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

Duplicate values will be overwritten

In [106]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Hope you all enjoyed it!

In the upcoming session we will learn advanced usage and functions on String, List, Tuple and Dictionary.

We will also explore If-else statements and Loops

Thank you so much for reading!

![](https://github.com/acmhitk/ACM-Python-Hobby-Class-2022/blob/main/assets/thanks.png?raw=true)