# ACM Python Hobby - Introduction to Python 002 Assignment Solutions

### Solution 1

Approach 1: Using if else logic

Approcah 2: Sort the list and print the [-2]nd element

In [3]:
# Initialize list or take the list as input
# my_list = [1, 2, 5, 4, 3]

# To take a list as input: list(map(int input.split()))
# This kind of format is used to take input in Competitive programming

my_list = list(map(int, input().split()))

# Sort
my_list.sort()

print(my_list[-2])

1 2 5 4 3
4

### Solution 2

Convert the list to Set. Then use Set intersection() Method.

In [5]:
list_1 = [1, 2, 5, 4, 3]
list_2 = [7, 6, 5, 4, 8]

set_1 = set(list_1)
set_2 = set(list_2)

print(list(set_1.intersection(set_2)))

[4, 5]

### Solution 3

Fetch all the values first, then apply capitalize()

In [14]:
mydict = {
  "a": "apple",
  "b": "banana",
  "d": "dog",
  "e": "egg",
  "c": "cat"
}

dict_values = mydict.values()
tokens = list(dict_values)

# Once you get the tokens use loops / list comprehension / lambda function to capitalize it

for token in tokens:
  print(token.capitalize(), end=" ")

Apple Banana Dog Egg Cat