# ACM Python Hobby - Introduction to Python 002 Assignment Questions

### Question 1

Find the second largest in the list

**SAMPLE TEST CASE 1:**

````
INPUT: [1, 2, 5, 4, 3]
OUTPUT: 4

````

### Question 2

Given 2 list of unique elements, find the common elements in both the list.

**SAMPLE TEST CASE 1:**

````
List 1: [1, 2, 5, 4, 3]
List 2: [7, 6, 5, 4, 8]
OUTPUT: 4 5

````

### Question 3

Print all the values(order does not matter) in the dictionary. (All the values should be in Title case)

Note: Title case means first charcater will be in Upper case, rest lower case (Ex: Apple, Banana)

**SAMPLE TEST CASE 1:**

````
Dictionary: 
mydict = {
  "a": "apple",
  "b": "banana",
  "d": "dog",
  "e": "egg",
  "c": "cat"
}
OUTPUT: Apple Banana Dog Egg Cat

````